Project/Part-1/team-3/__pycache__/admin.cpython-314.pyc
Project/Part-1/team-3/__pycache__/backend.cpython-314.pyc
Project/Part-1/team-3/__pycache__/frontend.cpython-314.pyc
/Project/Part-1/team-10/__pycache__
Project/Part-1/team-10/__pycache__/frontend.cpython-314.pyc
Project/Part-1/team-10/__pycache__/backend.cpython-314.pyc
Project/Part-1/team-10/__pycache__/app.cpython-314.pyc
Project/Part-1/team-10/__pycache__/admin.cpython-314.pyc
