<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flower Watering Status</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="color: green;">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <h2>Flower Watering Status</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Last Watered</th>
            <th>Water Level</th>
            <th>Needs Watering</th>
            <th>Delete</th>
            <th>Water</th>
            <th>Update (Name, Date, Water level, Minimum water required)</th>
        </tr>
        <tbody id="flower-data"></tbody>
    </table>
   
    <script>
        const today = new Date().toISOString().split("T")[0];
        fetch('/team8_flowers')
            .then(response => response.json())
            .then(data => {
                let rows = "";
                data.forEach(flower => {
                    let water = Number(flower.water_level);
                    let min = Number(flower.min_water_required);
                    let diff = water-min;
                    let borderColor = "black";
                    let bgColor = "white";
                    if (water < min) {
                        borderColor = "red";
                        bgColor = "#ffcccc";
                    } else if (diff <= 5) {
                        borderColor = "yellow";
                        bgColor = "#fff3cd";
                    } else {
                        borderColor = "green";
                        bgColor = "#d4edda";
                    }

                    rows += `<tr style="border: 3px solid ${borderColor}; background-color: ${bgColor};">
                        <td>${flower.name}</td>
                        <td>${flower.last_watered}</td>
                        <td>${flower.water_level} inches</td>
                        <td>${flower.needs_watering ? "Yes" : "No"}</td>
                        <td>
                            <form style="display:inline;" method="post" action="/team8_flowers/delete/${flower.id}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form style="display:inline;" method="post" action="/team8_flowers/water/${flower.id}">
                                <button type="submit">Water</button>
                            </form>
                        </td>
                        <td>
                            <form style="display:inline;" method="post" action="/team8_flowers/update/${flower.id}">                                
                                <!-- <input type="hidden" name="id" value="${flower.flower_id}"> -->
                                <input type="hidden" name="id" value="${flower.id}">
                                <input name="name" 
                                    value="${flower.name}"
                                    maxlength="100" required>
                                <input type="date" name="last_watered"
                                    value="${flower.last_watered}"
                                    max="${today}" required>
                                <input type="number" name="water_level"
                                    value="${flower.water_level}"
                                    min="0" required>
                                <input type="number" name="min_water_required"
                                    value="${flower.min_water_required}"
                                    min="0" required>
                                <button type="submit">Update</button>
                            </form>
                        </td>
                    </tr>`;           
                });
                document.getElementById("flower-data").innerHTML = rows;
            });
            
    </script>

    <h4>Customer data</h4>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <tbody id="customer-data"></tbody>
    </table>

     <script>
        fetch('/team8_customers')
            .then(response => response.json())
            .then(data => {
                let rows = "";
                data.forEach(customer => {
                    rows += `<tr style="border: 3px solid">
                        <td>${customer.name}</td>
                        <td>${customer.email}</td>
                    </tr>`;           
                });
                document.getElementById("customer-data").innerHTML = rows;
            });
            
    </script>

     <h3>Add Flower</h3>
      <form method="post" action="/team8_flowers/add">
        <label>Flower name</label>
        <input name="name" placeholder="e.g., Azalea" required /> <br>
        <label>Last watered</label>
        <input name="last_watered" placeholder = "Y-M-D e.g., 2026-03-20" required/> <br>
        <label>Water level</label>
        <input name="water_level" placeholder = "e.g., 20" required/> <br>
        <label>Minimum water required</label>
        <input name="min_water_required" placeholder = "e.g., 7" required/> <br>
        <button type="submit">Add Flower</button>
      </form>       

      <!-- Fast/Slow button implementation -->
      <div class="query-buttons">
      
      <button type="button" onclick="runQuery(1)" class="btn fast-btn">
        Fast Query
      </button>

      <button type="button" onclick="runQuery(0)" class="btn slow-btn">
        Slow Query
      </button>
    
      <script>
        function runQuery(flag) {
        fetch(`/team8_flowers/fast-slow_query/${flag}`)
        .then(res => res.json())
        .then(data => {
            console.log("Result:", data);
        });
        }
      </script>

</body>
</html>

